body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05386b!important;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
}
.div{
    padding: 20px;
}
.card-body{
    text-align: center;
    background: #edf5e1 !important;
}
.card-title{
font-family: 'Staatliches', cursive;
 color: #5cdb95;
 font-size: 30px;
}
.card-text{
    color: #333;
}
.btn{
    font-family: 'MuseoModerno', cursive;
}